<template>
    <div class="root">
    </div>
</template>

<script>
export default {
    transition: 'bounce',

    mounted: function(){
        this.$router.push('/mainw/infoJuego')
    }
}
</script>

<style scoped>
.root {
    height: 97vh;
    width: 75vw;
}
</style>
