<template>
    <div class="rt">
        <notifications></notifications>
        <div class="minicontainer">
            <!-- Nombre y Ejecutar -->
            <span id="gName">{{ titulo }}</span>
			<div @click="ejecutarJuego">
				<boton texto="   Jugar   " funcion=""></boton>
			</div>
        </div>

        <div class="path">
            <span> {{ path }}   </span>
            <label for="file-input" > <i class="fas fa-pencil-alt" id="editpath"></i> </label>
            <input id="file-input" type="file" @change="handleFileChange"> 
        </div>  

        <div class="minicontainer">
            <!-- Descripcion -->
            <textarea readonly=true cols="72" rows="10" v-model="descripcion"> </textarea>
        </div>

        <div class="minicontainer">
          <br />
        </div>

        <div class="dcontainer">
            <!-- Otros datos
            TODO: Completar con mas datos -->

            <div class="dsubcontainer">
                <span>Género</span>
                <span>{{ genero }}</span>
            </div>

            <div class="dsubcontainer">
              <br />
            </div>

            <div class="dsubcontainer">
                <span>Progreso</span>
                <span>{{ progreso }}</span>
            </div>

            <div class="dsubcontainer">
                <span>Última versión disponible</span>
                <span>{{ ultversion }}</span>
            </div>

            <div class="dsubcontainer">
                <span>Actualizado</span>
                <span>{{ actualizado }}</span>
            </div>
        </div>
    </div>
</template>

<script>
    import boton from '~/components/boton.vue';
    import axios from 'axios'
    import notify from 'vue-notifyjs'
	import Vue from 'vue'

	Vue.use(notify)

    export default {
        transition: 'bounce',

        components: {
            boton
        },
        data: function() {
            return {
                titulo: '',
                descripcion: '',
                genero: '',
                ultversion: '',
				path: '',
				actualizado: 'si',
				progreso: 'N/A',
				id: 0,
                dir: ''
            }
        },
		head: {
            link: [
				{ href: "/css/notify.css", rel: "stylesheet" }
			],
			script: [
				{ src: '/js/ejecutar.js' },
                { src: 'https://use.fontawesome.com/releases/v5.0.10/js/all.js' }
			]
		},
		methods: {
			ejecutarJuego: function() {
				let data = JSON.parse('{}')
				data["user"] = this.$store.state.user
				data["id"] = this.id

				axios.get(this.$store.state.url + "/obtener/ejecutar/" + btoa(JSON.stringify(data)))
					.then(function(response) {
						if (response.data.estado) {
                            execJuego(response.data.path, response.data.args)
						}
					})
			},
            notifLoading() {
      			this.$notify({
        			message: 'Cargando...',
        			type: 'primary',
                    timeout: 500000
      			})
    		},
            notifExeIncorrecto() {
      			this.$notify({
        			message: 'El archivo seleccionado es incorrecto',
        			type: 'danger',
                    timeout: 500000
      			})
    		},
            notifExeCargado() {
      			this.$notify({
        			message: 'Dirección actualizada correctamente',
        			type: 'success',
                    timeout: 500000
      			})
    		},
            cargarDatos() {
                var data = JSON.parse('{}')

                data["id"] = this.$store.state.activeid
		        data["user"] = this.$store.state.user

                var self = this

                axios.get(this.$store.state.url + "/juego/" + btoa(JSON.stringify(data)))
                    .then(function(response) {
                        if (response.data.estado) {
                            self.titulo = response.data.titulo
                            self.descripcion = response.data.descripcion
                            self.genero = response.data.genero
                            self.ultversion = response.data.ultversion
			                self.path = response.data.path
						    self.id = response.data.id
                            self.$notifications.clear()
                        }
                    })
            },
            handleFileChange: function(e) {
                let path = e.target.files[0].path
                let self = this
                let json_data = JSON.parse('{}')
                
                json_data["user"] = this.$store.state.user
                json_data["dato"] = "dir"
                json_data["nuevoPath"] = path
                json_data["idJuego"] = this.$store.state.activeid

                axios.post(this.$store.state.url + "/modificar/usuario/" + btoa(JSON.stringify(json_data)))
                    .then(function(response){
                        if (response.data.estado) {
                            if (response.data.dirModificado) {
                                self.notifExeCargado()
                            } else if (response.data.exeIncorrecto) {
                                self.notifExeIncorrecto()
                            }
                        }
                    })
            }
		},
        mounted: function() {
            
            this.notifLoading()

			if (this.$store.state.user == '') {
				this.$router.push('/login')
			}

            this.cargarDatos()
        }
    }
</script>

<style>

    .rt {
        height: 97vh;
        width: 75vw;
    }

    .minicontainer {
        display: flex;
    }

    .dcontainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        background: linear-gradient(to bottom, rgba(0, 187, 255, 0.2), transparent);
        height: 30vh;
    }

    .dsubcontainer {
        display: flex;
        flex-direction: column;
    }

    .path {
        display: flex;
        justify-content: flex-start;
    }

    #editpath {
        cursor: pointer !important;
        width: 10px;
    }

    .path > input { 
        display: none;
    }

    .minicontainer > span {
        flex-grow: 2;
    }

    #gName {
        font-size: 25px;
        font-family: Impact;
        /*font-weight: bold;*/
    }

    .dsubcontainer > span {
        font-size: 20px;
        text-align: center;
    }

    .minicontainer > textarea {
        resize: none;
        background: none;
        font-size: 16px;
        font-weight: 900;
        outline: none;
    }
</style>
