<template>
    <div class="rootcontainer">
        <notifications></notifications>

        <!-- NOTICIAS -->
        <div class="bienvenida">
            <span>Bienvenido {{ $store.state.user }}</span>
        </div>

        <div class="bloque">
            <span>Tus amigos jugaron</span>
            <div class="friendsTable">
                <div class="ftr">
                    <div class="friend">
                        <div class="foto">
                            <img src="~/static/images/defaultpp.jpg" style="height: calc(30vh / 2); width: calc(30vh / 2);">
                        </div>
                        <div class="datfriend">
                            <span>{{ user }}</span>
                            <span>{{ ultimoJugado }}</span>
                        </div>
                    </div>
                    <div class="friend"></div>
                    <div class="friend"></div>
                </div>
                <div class="ftr">
                    <div class="friend"></div>
                    <div class="friend"></div>
                    <div class="friend"></div>
                </div>
            </div>
        </div>

        <div class="bloque">
            <span>Últimos juegos agregados</span>
            <div class="newGamesTable" style="flex-direction: row !important">
                <div v-for="juego in ultimosJuegos" :key="juego.id">
                    <img :src="juego.imagen" class="caratula" :title="juego.titulo">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import notify from 'vue-notifyjs'
import Vue from 'vue'

Vue.use(notify)

export default {
    data: function() {
        return {
            ultimosJuegos: [],
			user: '',
			ultimoJugado: ''
        }
    },
    head: {
            link: [
				{ href: "/css/notify.css", rel: "stylesheet" }
			]
    },
    methods: {
        notifLoading() {
      			this.$notify({
        			message: 'Cargando...',
        			type: 'primary',
                    timeout: 500000
      			})
    		}
    },
    mounted: function() {
        this.notifLoading() 

        let self = this

        axios.get(this.$store.state.url + '/ultimos/juegos/')
            .then(function(response) {
                if (response.data.estado) {
                    self.ultimosJuegos = response.data.juegos

                    self.ultimosJuegos.forEach(function(elem, index, a){
                        elem.imagen = self.$store.state.urlImages + btoa(elem.imagen)
                    }) // By zeke
                }
                self.$notifications.clear()
            })
    },
    transition: 'bounce'
}
</script>

<style scoped>
    .rootcontainer {
        display: flex;
        flex-direction: column;
        height: 97vh;
        width: 75vw;
        background-color: rgba(255, 255, 255, 0.3);
    }

    .bienvenida {
        height: 10vh;
        font-size: 50px;
        text-align: center;
        color: cornflowerblue;
    }

    .bloque {
        height: 45vh;
        font-size: 22px;
    }

    .friendsTable, .newGamesTable {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 30vh;
        
    }

    .ftr {
        display: flex;
        flex-direction: row;
    }

    .friend {
        display: flex;
        flex-direction: row;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        width: calc(75vw / 3);
        height: calc(30vh / 2);
    }

    .foto {
        width: calc(30vh / 2);
        height: calc(30vh / 2);
        border-right: 1px solid black;
    }

    .datfriend {
        display: flex;
        flex-direction: column;
    }

    .datfriend > span {
        font-size: 16px;
    }

    .datfriend > span:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .game {
        display: flex;
        flex-direction: row;
        border-right: 1px solid black;
        width: calc(75vw / 3);
    }

    .caratula {
        width: 171px;
        height: 171px;
        cursor: pointer;
    }

</style>
