<template>
    <div class="root">
        <notifications></notifications>
        <div class="head" style="height: 10vh; border-bottom: 1px solid black">
            <div @click="$router.push('/mainw/news')" class="close">
                <i class="fas fa-chevron-left"></i>
            </div>
            <span>{{ user }}</span>
        </div>

        <div class="body" style="height:90vh">
            <div class="fc">
                <div class="pp">
                    <img style="width: calc(75vw / 4); height: calc(75vw / 4);" src="~/static/images/defaultpp.jpg"> {{ foto }} 
                </div>
                <div class="editpp">
                    <span>cambiar </span>
                    <span>eliminar</span>
                </div>
            </div>

            <div class="sc">
                (Haga cick para editar)
                    <div><br></div>
                    <div class="datos" style="background: none">
                        <nuxt-link to="/mainw/profile/editname" class="dat">{{ nombre }}</nuxt-link>
                        <nuxt-link to="/mainw/profile/editmail" class="dat">{{ email }}</nuxt-link>
                        <nuxt-link to="/mainw/profile/editpass" class="dat">Contraseña</nuxt-link>
                    </div>
                    <br>
                    <br>
                    <br>
                    <nuxt-child></nuxt-child>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import notify from 'vue-notifyjs'
import Vue from 'vue'

Vue.use(notify)

    export default {
		data: function() {
			return {
				user: '',
				nombre: '',
				email: '',
				foto: ''
			}
        },
        head: {
            link: [
				{ href: "/css/notify.css", rel: "stylesheet" }
            ]
        },
		methods: {
			cargarDatos: function() {
				let json_data = JSON.parse("{}")
				let this_ = this

				json_data["usuario"] = this.$store.state.user
				json_data["dato"] = "todos"

				axios.get(this.$store.state.url + "/usuario/" + btoa(JSON.stringify(json_data)))
					.then(function(response) {
						if(response.data.estado) {
							this_.user = response.data.usuario
							this_.nombre = response.data.nombre + ' ' + response.data.apellido
                            this_.email = response.data.email
                            this_.$notifications.clear()
						}
					})
			},
            notifLoading() {
      			this.$notify({
        			message: 'Cargando...',
        			type: 'primary',
                    timeout: 500000
      			})
    		}
		},
		mounted: function() {
            this.notifLoading()
			this.cargarDatos()
            
		},
        script: [
            { src: 'https://use.fontawesome.com/releases/v5.0.10/js/all.js' }
        ],
        transition: 'bounce'
    }
</script>

<style scoped>

    .root {
        user-select: none;
        display: flex;
        flex-direction: column;
        height: 97vh;
        background: linear-gradient(to bottom, cornflowerblue, transparent);
        justify-content: space-between;
        overflow: hidden;
    }

    .head, .body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: black;
    }

    .head > span {
        font-size: 50px;
        text-transform: uppercase;
        color: black;
        font-family: arial, helvetica, serif;
    }

    .head > div {
        cursor: pointer;
        font-size: 50px;
        background-color: black;
        color: white;
    }

    .close {
        width: 10vh;
        background-color: white;
        display: flex;
        justify-content: center;
        border-right: 2px solid black;
    }

    .fc, .sc, .datos {
        width: calc(75vw / 2);
        display: flex;
        flex-direction: column;
        font-size: 12px;
        overflow: hidden;
    }

    .datos {
        display: flex;

    }

    .dat {
        font-size: 20px;
        cursor: pointer;
        color: black;

        text-decoration: none;
    }

    .dat:hover {
        text-decoration: underline;
        color: yellow;
    }

    .pp {
        width: calc(75vw / 4);
        height: calc(75vw / 4);
        border-bottom: 1px solid black;
        border-right: 1px solid black;
    }

    .editpp {
        width: calc(75vw / 4);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .editpp > span {
        cursor: pointer;
        font-size: 12px;
    }

    .editpp > span:hover {
        text-decoration: underline;
        color: yellow;
    }

</style>
