<template>
    <div class="root">
        <notifications></notifications>

        (Dejar vacío para no modificar)
            <div class="container">
                <input type="input" class="input" placeholder="Nombre" v-model="nombre">
                <input type="input" class="input" placeholder="Apellido" v-model="apellido">
            </div>

            <div class="but" @click="cambiarNombre">
                <boton texto="Enviar" funcion=""></boton>
            </div>
    </div>
</template>

<script>
    import boton from '~/components/boton.vue'
    import axios from 'axios'
    import notify from 'vue-notifyjs'
	import Vue from 'vue'

	Vue.use(notify)

    export default {
        components: {
            boton
        },
        data: function() {
            return {
                nombre: '',
                apellido: ''
            }
        },
        head: {
			link: [
				{ href: "/css/notify.css", rel: "stylesheet" }
			]
		},
        methods: {
            cambiarNombre: function() {
                var self = this

                if (this.nombre != '') {
                    var json_data = JSON.parse('{}')
                    json_data["dato"] = "nombre"
                    json_data["datoNuevo"] = this.nombre
                    json_data["user"] = this.$store.state.user

                    axios.post(this.$store.state.url + "/modificar/usuario/" + btoa(JSON.stringify(json_data)))
                        .then(function(response){
                            if (response.data.estado && response.data.modificado) {
                                self.notifNC()
                            }
                        })
                }

                if (this.apellido != '') {
                    var json_data = JSON.parse('{}')
                    json_data["dato"] = "apellido"
                    json_data["datoNuevo"] = this.apellido
                    json_data["user"] = this.$store.state.user

                    axios.post(this.$store.state.url + "/modificar/usuario/" + btoa(JSON.stringify(json_data)))
                        .then(function(response){
                            if (response.data.estado && response.data.modificado) {
                                self.notifAC()
                            }
                        })
                }
            },

            notifNC() {
                this.$notify({
        			message: 'Nombre modificado correctamente',
        			type: 'success'
			    })
    		},

            notifAC() {
                this.$notify({
        			message: 'Apellido modificado correctamente',
        			type: 'success'
    			})
    		},

            notifCI() {
                this.$notify({
        			message: 'Contraseña incorrecta',
        			type: 'danger'
    			})
    		}
        },
        transition: 'bbounce'
    }
</script>

<style scoped>
    .root {
        background: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: calc(75vw / 2);
        height: calc(90vh / 2);
    }

    .input {
        background-color: cornflowerblue;
        border: none;
        border-bottom: 1px solid white;
        border-left: 1px solid white;
        width: stretch;
        outline: none;
    }

    ::placeholder {
        color: rgb(63, 63, 255);
    }

    .container {
        width: calc(75vw / 2);
    }

    .but {
        display: flex;
        flex-direction: row-reverse;
    }
</style>
