<template>
    <div class="root">
        <notifications></notifications>

        <div class="container">
            <input type="email" class="input" placeholder="Nuevo correo" v-model="correo">
            <input type="input" class="input" placeholder="Codigo" v-model="codigo" contenteditable="true">
        </div>

        <div>
            <div class="but" @click="cambiarMail">
                <boton texto="Enviar" funcion=""></boton>
            </div>
            (Escribir mail, enviar, escribir el código recibido y volver a enviar)
        </div>
    </div>
</template>

<script>
    import boton from '~/components/boton.vue'
    import axios from 'axios'
    import notify from 'vue-notifyjs'
	import Vue from 'vue'

	Vue.use(notify)

    export default {
        components: {
            boton
        },
        data: function() {
            return {
                correo: '',
                codigo: ''
            }
        },
        head: {
			link: [
				{ href: "/css/notify.css", rel: "stylesheet" }
			]
		},
        methods: {
            cambiarMail: function() {
                var self = this 

                if (this.correo != '' && this.codigo == '') {
                    var json_data = JSON.parse('{}')
                    json_data["dato"] = "email"
                    json_data["datoNuevo"] = this.correo
                    json_data["user"] = this.$store.state.user

                    axios.post(this.$store.state.url + "/modificar/usuario/" + btoa(JSON.stringify(json_data)))
                        .then(function(response){
                            if (response.data.estado && response.data.modificado) {
                                self.notifCE()
                            }
                        })
                } else if (this.codigo != '') {
                    var json_data = JSON.parse('{}')
                    json_data["codigo"] = parseInt(this.codigo)
                    json_data["user"] = this.$store.state.user

                    axios.post(this.$store.state.url + "/verificar/email/" + btoa(JSON.stringify(json_data)))
                        .then(function(response){
                            if (response.data.estado && response.data.verificado) {
                                if (self.$store.state.userVerificado == false) {
                                   self.$store.commit('setVerificado', true)
                                    // Mensaje de verificado
                                } else {
                                    self.notifEC()
                                }
                            } else if (!response.data.verificado) {
                                self.notifCI()
                            }
                        })
                } else {
                    console.log("hola")
                }   
            },
            notifCE() {
                this.$notify({
        			message: 'Código enviado a su casilla de correo',
        			type: 'info'
    			})
    		},
            notifEC() {
                this.$notify({
        			message: 'Correo modificado correctamente',
        			type: 'success'
    			})
    		},
            notifCI() {
                this.$notify({
        			message: 'Código incorrecto',
        			type: 'danger'
    			})
    		}
        },
        transition: 'bbounce'
    }
</script>

<style scoped>

    .root {
        background: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: calc(75vw / 2);
        height: calc(90vh / 2);
    }

    .input {
        background-color: cornflowerblue;
        border: none;
        border-bottom: 1px solid white;
        border-left: 1px solid white;
        width: stretch;
        outline: none;
    }

    ::placeholder {
        color: rgb(63, 63, 255);
    }

    .container {
        width: calc(75vw / 2);
    }

    .but {
        display: flex;
        flex-direction: row-reverse;
    }

</style>
