<template>
    <div class="root">
        <notifications></notifications>
        <div class="container">
            <input type="password" class="input" placeholder="Contraseña actual" v-model="passVieja">
            <input type="password" class="input" placeholder="Nueva contraseña" v-model="passNueva">
            <input type="password" class="input" placeholder="Confirmar contraseña" v-model="passConfirm">
        </div>

        <div class="but" @click="cambiarPassword">
            <boton texto="Enviar" funcion=""></boton>
        </div>
    </div>
</template>

<script>
    import boton from '~/components/boton.vue'
    import axios from 'axios'
    import notify from 'vue-notifyjs'
	import Vue from 'vue'

	Vue.use(notify)

    export default {
        components: {
            boton
        },
        data: function() {
            return {
                passVieja: '',
                passNueva: '',
                passConfirm: ''
            }
        },
        head: {
			link: [
				{ href: "/css/notify.css", rel: "stylesheet" }
			]
		},
        methods: {
            cambiarPassword: function() {
                var self = this

                if (this.passVieja != '' && this.passNueva != '' && this.passConfirm != '') {
                    if (this.passNueva == this.passConfirm) {
                        var json_data = JSON.parse('{}')
                        json_data["user"] = this.$store.state.user
                        json_data["dato"] = "password"
						json_data["datoViejo"] = this.passVieja
                        json_data["datoNuevo"] = this.passNueva
						json_data["datoNuevoConfirm"] = this.passConfirm

                        axios.post(this.$store.state.url + "/modificar/usuario/" + btoa(JSON.stringify(json_data)))
                            .then(function(response){
                                if (response.data.estado && response.data.modificado) {
                                    self.notifCC()
                                } else if (response.data.passviejaMal) {
									self.notifCI()
								} else if (response.data.passNuevaMal) {
									self.notifCNC()
								}
                            })
                    }
					else {
						this.notifCNC()
					}
                } else {
                    this.notifCV()
                }
            },

            notifCV() {
    		    this.$notify({
                message: 'ERROR: Campos vacíos',
                    type: 'danger'
    		    })
    		},

            notifCI() {
                this.$notify({
        			message: 'Contraseña incorrecta',
        			type: 'danger'
    			})
    		},

            notifCNC() {
                this.$notify({
        			message: 'Las contraseñas no coinciden',
        			type: 'danger'
    			})
    		},

            notifCC() {
    			this.$notify({
        			message: 'Contraseña cambiada correctamente',
        			type: 'success'
    			})
    		}
        },
        transition: 'bbounce'
    }
</script>

<style scoped>
    .root {
        background: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: calc(75vw / 2);
        height: calc(90vh / 2);
    }

    .input {
        background-color: cornflowerblue;
        border: none;
        border-bottom: 1px solid white;
        border-left: 1px solid white;
        width: stretch;
        outline: none;
    }

    ::placeholder {
        color: rgb(63, 63, 255);
    }

    .container {
        width: calc(75vw / 2);
    }

    .but {
        display: flex;
        flex-direction: row-reverse;
    }

</style>
