<div class="root">
    <div class="header"
        style= "display: flex;
        justify-content: center;
        font-size: 40px;
        color: cornflowerblue;">
            Bienvenido, {{ user }}!
    </div>

    <br> </br>

    <div class="body"
        style= "display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center">
            Para confirmar {{ accion }}, inicia sesion en Bax, <br />
            ve al perfil e ingresa el codigo de verificacion haciendo click en tu correo.
                <!--
                    {{ accion }} Se cambia por
                    "tu registro"
                    "el cambio de correo"
                -->

        <div> <br /> </div>

        <div class="codigo"
             style= "display: flex;
            border: 1px solid cornflowerblue;
            font-size: 30px;
            justify-content: center;
            width: 300px;">
                {{ codigo }}
        </div>
    </div>

    <br />

    <div class="footer"
        style= "display: flex;
        flex-direction: column;">
            <span style= "display: flex; justify-content: flex-end;"> Si recibiste este correo por error, solo ignoralo.  </span>
            <span style= "display: flex; justify-content: flex-end;"> Atentamente, lucmor. </span>
    </div>
</div>
