html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #ef5555;
    background-image: url("/images/a.jpg");
}


/*  transiciones robadas de jr
    Movimiento de izq a der */

.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-out .3s;
}
@keyframes bounce-in {
	0% {
  		transform: translate(-100%, 0)
	}
	100% {
		transform: translate(0, 0)
	}
}
@keyframes bounce-out {
	0% {
  		transform: translate(0, 0)
	}
	100% {
		transform: translate(-100%, 0)
	}
}

/* Movimiento de der a izq */

.bbounce-enter-active {
  animation: bbounce-in .5s;
}
.bbounce-leave-active {
  animation: bbounce-out .3s;
}
@keyframes bbounce-in {
	0% {
  		transform: translate(110%, 0)
	}
	100% {
		transform: translate(0, 0)
	}
}
@keyframes bbounce-out {
	0% {
  		transform: translate(0, 0)
	}
	100% {
		transform: translate(110%, 0)
	}
}
