<template>
    <div>
        <button id="bot" @click="parserFunction">{{ texto }}</button>
        <modal v-show="isModalVisible" @close="closeModal"></modal>
    </div>
</template>

<script>
import axios from 'axios'
import modal from '~/components/modal.vue'

export default {
    data: function() {
        return {
            isModalVisible: false
        }
    },

    components: {
        modal,
    },

    props: ['texto', 'funcion', 'off'],

    methods: {
        // control de funcion pasada como atributo
		parserFunction: function() {
			var funciones = JSON.parse("{}")

            funciones["agregarJuego"] = this.agregarJuego
			funciones["cerrar"] = this.cerrar
			funciones["showModal"] = this.showModal
			funciones["closeModal"] = this.closeModal
			funciones["logn"] = this.logn
            funciones["back"] = this.back
            funciones["abrirPerfil"] = this.abrirPerfil
            funciones["showPanel"] = this.showPanel

            if(this.funcion != '') {
                funciones[this.funcion]()
            }
		},
        // register
        back: function() {
            this.$router.push('/login')
        },
        // addgame
		agregarJuego: function() {

			this.$router.push('/addgame')
		},
        // mainw
        // cerrar sesion
		cerrar: function() {
			this.$store.commit('setUser', '')
			this.$router.push('/login')
		},
        // modal de añadir juego a la lista
        showModal() {
            this.isModalVisible = true;
            this.$store.commit('mostrarAJ')

            var store = this.$store

            axios.get(store.state.url + '/lista/juego/')
				.then(function(response){
					if (response.data.estado) {
						store.commit('setDataModal', response.data.juegos)
					}
				})
        },
        closeModal() {
            this.isModalVisible = false;
        },
        // mostrar perfil de usuario
        abrirPerfil() {
            this.$router.push("/mainw/profile")
        },
        // adminPanel
        // mostrar panel de administracion
        showPanel() {
            this.$router.push('/adminPanel')
        }
    }
}
</script>

<style>
    #bot {
        height: 3vh;
        justify-content: center;
        background: transparent;
        border: none;
        color: #000;
        border-radius: 20px;
        background-color: #00EEFF;
        cursor: pointer;
        font-weight: bold;
        outline: none;
        margin-left: 0px;
        transition: .3s;
    }

    #bot:hover {
        background-color: #0088FF;
    }
</style>
