<template>
    <div class="modal-backdrop">
        <div v-if="this.$store.state.aj" class="modal">
            <header class="modal-header">
                <slot name="header">
                    <button id="btnx" class="btn-close" @click="close">x</button>
                </slot>
            </header>
            <section class="modal-body">
                <slot name="body">
                    <div>
                        <select id="chosen-select" v-model="juego">
							<option v-for="juego in $store.state.dataModal" :value="juego.id">{{ juego.titulo }}</option>
                        </select>
                    </div>
                    <div style="border-bottom: 1px solid #4AAE9B"><br /></div>
                    <div class="c">
                        <div> <br /> </div>
                        Ingrese la direccion del ejecutable:
                        <div> <br /> </div>
                        <input type="file" @change="handleFileChange" class="input">
                    </div>
                    <br />
                    <button type="button" class="btn-green" @click="agregar"> Agregar </button>
                </slot>
            </section>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import notify from 'vue-notifyjs'
import Vue from 'vue'

Vue.use(notify)

export default {
    props: ['mostrar'],

    head: {
            link: [
				{ href: "/css/notify.css", rel: "stylesheet" }
			]
    },

    data: function() {
        return {
            dir: '',
            juego: '',
            archivo: 'elegir',
        }
    },

    methods: {
        notifYaAgregado() {
      		this.$notify({
        		message: 'El juego ya está en tu lista',
        		type: 'warning',
                timeout: 500000
      		})
    	},
        notifExeIncorrecto() {
      		this.$notify({
               	message: 'El archivo seleccionado es incorrecto',
        		type: 'danger',
                timeout: 500000
      		})
    	},
        notifExeCargado() {
    		this.$notify({
    			message: 'Juego agregado correctamente',
                type: 'success',
                timeout: 500000
      		})
    	},
        agregar() {
            let store = this.$store
			let self = this
            let data = JSON.parse('{}')

            data["usuario"] = this.$store.state.user
            data["id"] = this.juego
			data["dir"] = this.dir

			if (this.dir != '') {
            	axios.post(this.$store.state.url + '/agregar/juego/usuario/' + btoa(JSON.stringify(data)))
                	.then(function(response){
                    	if (response.data.estado) {
                            if (response.data.agregado) {
                            	store.state.vueInstanceMainw.cargarJuegos()
                                self.notifExeCargado()
                            	self.close()
                            } else if(response.data.yaAgregado) {
                                self.notifYaAgregado()
                            } else if(response.data.exeIncorrecto) {
                                self.notifExeIncorrecto()
                            }
                    	}
            	})
			}
        },
        close() {
            this.dir = '';
            this.$store.commit('allFalse');
            this.$emit('close');
        },
        handleFileChange(e) {
			let path = e.target.files[0].path

			this.dir = path
        }
    },

	mounted: function() {

	}
};
</script>

<style scoped>
.blank {
    width: 150px;
    height: 20px;
}

.blankk {
    width: 275px;
}

.input {
    outline: none;
}

.c {
    display: flex;
    flex-direction: column;
    color: #4AAE9B;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
}

.modal-header,
.modal-footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
}

.modal-header {
    color: #4AAE9B;
    height: 5%;
}

.modal-footer {
    justify-content: flex-end;
}

.modal-body {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
}

#chosen-select {
    outline: none;
    width: stretch;
}

.btn-close {
    border: none;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #4AAE9B;
    background: transparent;
}

.btn-green {
    color: white;
    background: #4AAE9B;
    border: 1px solid #4AAE9B;
    border-radius: 2px;
    height: 20px;
    margin-left: 0px !important;
}
</style>
