<template>
    <div class="rt">
        <notifications></notifications>
        <div class="container">
            <div class="minicontainer">
                <span>Título del juego</span>
                <input class="input" v-model="titulo">
            </div>

            <div class="minicontainer">
                <span>Desarrollador</span>
                <input class="input" v-model="desarrollador">
            </div>

            <div class="minicontainer">
                <span>Carátula</span>
                <input class="input" type="file" @change="handleFileChange">
            </div>

            <div class="desccontainer">
                <span>Descripción</span>
                <textarea class="ta" rows="10" cols="25" maxlength="500" v-model="descripcion"></textarea>
            </div>

            <div class="minicontainer">
                <span>Género/s</span>
                <select data-placeholder="Seleccione género/s" v-model="genero" id="chosen-select" multiple>
                    <option>Deporte</option>
                    <option>Accion</option>
                    <option>Disparos</option>
                    <option>Estrategia</option>
                    <option>Simulacion</option>
                    <option>Carreras</option>
                    <option>Aventura</option>
                    <option>Rol</option>
                    <option>Puzzle</option>
                    <!-- TODO: Añadir más opciones -->
                </select>
            </div>

            <div class="minicontainer">
                <span>Nombre del .exe</span>
                <input class="input" v-model="exe">
            </div>

            <div class="minicontainer">
                <span>Atributos (opcional)</span>
                <input v-model="attrib">
            </div>

            <div class="minicontainer">
                <span>Última versión disponible</span>
                <input v-model="ultversion">
            </div>

            <div class="minicontainer">
                <br />
            </div>

            <div class="buttoncontainer">
                <div @click="agregar" class="d" style="width: 55px !important; ">
                    <boton texto="Añadir" funcion=""></boton>
                </div>
                <div @click="volver" class="d">
                    <boton texto="Cancelar" funcion=""></boton>
                </div>
            </div>

        </div>
        <div class="vistaprevia">
            <img class="im" :src="caratula"></img>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import chosen from 'chosen-js'
import boton from '~/components/boton.vue'
import notify from 'vue-notifyjs'
import Vue from 'vue'

Vue.use(notify)

export default {
    components: { boton },

    data: function() {
        return {
            titulo: '',
            desarrollador: '',
            descripcion: '',
            caratula: '',
			caratulaFile: undefined,
            genero: [],
            exe: '',
            attrib: '',
            ultversion: ''
        }
    },
	head: {
		script: [
			{ src: '/js/leerArchivo.js' }
		],
        link: [
			{ href: "/css/notify.css", rel: "stylesheet" }
		]
	},
    mounted: function(){
        jQuery("#chosen-select").chosen().on("change", e => {
			let elementos_selected = e.target.selectedOptions
			let datos = []

			for (let item of elementos_selected) {
				datos.push(item.label)
			}

			this.genero = datos
		});
    },
    methods: {
        volver: function() {
            this.$router.push('/mainw')
        },
        agregar: function() {
            var data_juego = new FormData()

            var store = this.$store
            var router = this.$router

            if (this.titulo != '' && this.desarrollador != '' && this.descripcion != '' && this.genero.length != 0 && this.exe != '' && this.ultversion != '' && this.caratula != '') {
                data_juego.append("titulo", this.titulo)
                data_juego.append("desarrollador", this.desarrollador)
                data_juego.append("descripcion", this.descripcion)
                data_juego.append("genero", this.genero)
                data_juego.append("exe", this.exe)
                data_juego.append("ultversion", this.ultversion)
                data_juego.append("attrib", this.attrib)
				data_juego.append("caratulaFile", this.caratulaFile)

                axios({
					method: 'post',
					url: store.state.url + '/juego/agregar/',
					data: data_juego,
					config: {
						headers: {
							'Content-Type': 'multipart/form-data'
						}
					}
				}).then(function(response) {
                        if (response.data.estado && response.data.agregado) {
                            store.commit('setAntPage', 'mainw')
                            router.push('mainw')
                        }
                    })
            } else {
                this.notifCV()
            }
        },
		handleFileChange: function(e) {
			let path = e.target.files[0].path
			this.caratulaFile = e.target.files[0]
			let extension = e.target.files[0].name.split(".")[1]

			this.caratula = "data:image/" + extension + ";base64," + imageToBase64(path)
		},
        notifCV() {
      			this.$notify({
        			message: 'ERROR: Campos vacíos',
        			type: 'danger'
      			})
    		}
    },
    transition: 'bounce'
}
</script>

<style scoped>
.rt {
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: baseline;
    padding: 20px 0px;
    width: 60vw;
    height: 60vh;
}

.vistaprevia {
    display: flex;
    width: 40vw;
    height: 40vw;
    align-items: center;
    justify-content: center;
}

.im {
    width: 40vw;
    height: 40vw;
}

.buttoncontainer {
    display: flex;
    justify-content: flex-end;
}

.d {
    display: flex;
    justify-content: flex-end;
    width: 70px;
    height: 3vh;
}

.minicontainer {
    display: flex;
    justify-content: space-between;
    height: 5vh;
}

.minicontainer > input {
    background: transparent;
    outline: none;
}

.minicontainer > select {
    background: transparent;
    outline: none;
    width: 217px;
}

.desccontainer {
    display: flex;
    justify-content: space-between;
}

.ta {
    resize: none;
    background: transparent;
    outline: none;
    font-weight: 900;
    overflow: hidden;
}

</style>
