<template>
    <div class="rootcontainer">
        <div class="swap">
            <nuxt-link to="/adminPanel/gamesTable" class="swapper">Juegos</nuxt-link>
            <nuxt-link to="/adminPanel/usersTable" class="swapper">Usuarios</nuxt-link>
            <nuxt-link to="/mainw" class="swapper">Back</nuxt-link>
        </div>
        <nuxt-child></nuxt-child>
    </div>
</template>

<script>
    export default {
        transition: 'bounce'
    }
</script>

<style scoped>

    .rootcontainer {
        width: 100vw;
        height: 100vh;
        background-color: darkgrey;
        display: flex;
        flex-direction: column;
        align-self: baseline;
    }

    .swap {
        height: 5vh;
        background: linear-gradient(to right, #00C0DD, red);
        display: flex;
        align-items: stretch;
        flex-direction: row;
        border-bottom: 1px solid black;
    }

    .swapper {
        width: 15vh;
        color: black;
        text-decoration: none;
        background-color: lightblue;
        border: 1px solid #000;
        border-bottom: none;
        text-align: center;
        transition: .3s;
    }

    .swapper:hover {
        background-color: red;
    }

</style>
