<template>
	<div class="root">
		<notifications></notifications>

		<div class="container">
			<div class="minicontainer">
				<span>Usuario      </span>
				<input class="input" v-model="user" autofocus>
			</div>

			<div class="minicontainer">
				<span>Contraseña </span>
				<input class="input" type="password" v-model="pass" v-on:keyup.enter="logn" >
			</div>

			<div>
				<br />
			</div>

			<div class="minicontainer">
				<div class="sub">
					<a>Olvide mi contraseña</a>
					<span>/</span>
					<a @click="$router.push('register')">Registrarme</a>
				</div>
				<div @click="logn" >
					<boton texto="  Entrar  " funcion="" style="margin-left: 0px !important;"></boton>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
    import axios from 'axios'
    import modal from '~/components/modal.vue'
    import boton from '~/components/boton.vue'
	import notify from 'vue-notifyjs'
	import Vue from 'vue'

	Vue.use(notify)

    export default {
        data: function() {
            return {
                user: '',
                pass: ''
            }
        },
        mounted: function() {
			if (this.$store.state.user != '') {
				this.$router.push('mainw')
			}
        },

		head: {
			link: [
				{ href: "/css/notify.css", rel: "stylesheet" }
			]
		},

        transition: 'bounce',

        components: {
            boton,
            modal
        },

        methods: {
            logn: function() {
                var json_object = JSON.parse('{}')

                var store = this.$store
                var router = this.$router
                var th = this

                if (this.user != '' && this.pass != '') {
                    json_object["usuario"] = this.user
                    json_object["password"] = this.pass

                    axios.get(store.state.url + '/verificar/usuario/' + btoa(JSON.stringify(json_object)))
                        .then(function(response){
                            if (response.data.estado && response.data.verificado) {
                                store.commit('setAntPage', 'login')
    							store.commit('setUser', json_object["usuario"])
    							store.commit('setAdmin', response.data.admin)
                                store.commit('setVerificado', response.data.emailverificado)
                                router.push('mainw')
                            } else {
                                th.notifUserError()
                            }
                        })
                } else {
                    this.notifCV()
                }
            },

			notifCV() {
      			this.$notify({
        			message: 'ERROR: Campos vacíos',
        			type: 'danger'
      			})
    		},
            notifUserError() {
                this.$notify({
                    message: 'ERROR: Usuario o contraseña incorrectos',
                    type: 'danger'
                })
            }
        }
    }
</script>

<style scoped>

.root {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    align-self: baseline;
    margin-top: 25px;
    width: 40vw;
    height: 25vh;
    margin-left: 25px;

}

.minicontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 36vw;
}

.errorcontainer {
    display: flex;
    flex-direction: column-reverse;
    height: 50px;
    width: 30vw;
    width: stretch;
}

.error {
    display: flex;
    width: stretch;
    justify-content: center;
    align-items: center;
    background: transparent;

    background-color: #ff8084;
    border: 2px solid #cc0007;
    border-radius: 10px;
    color: #cc0007;
}


.minicontainer > span {
    font-weight: 800;
}

.minicontainer > input {
    background: cornflowerblue;
    outline: none;
    box-shadow: -5px 5px 10px white;
}

.sub > a {
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
}

.sub > a:hover {
    text-decoration: underline;
}


</style>
