<template>
    <div class="rootcontainer">
        <div class="listcontainer">
            <div class="addcontainer">

                <!-- Button trigger modal -->
                <boton texto="Agregar nuevo juego" funcion="showModal"></boton>

            </div>

            <div class="lista">
				<div style="display: flex;width: 23.5vw;" v-for="juego in juegos" :key="juego.id">
					<nuxt-link to="/mainw/anotheraux" class="jogo">
	                    <span @click="mostrarInfoJuego($event.target.id)" :id="juego.id">
	                        {{ juego.titulo }}
	                    </span>
	                </nuxt-link>
	                <div class="delete" @click="borrarJuego" :id="juego.id"> × </div>
				</div>
            </div>
        </div>

        <div class="datcontainer">
            <!-- Datos del juego -->

            <nuxt-child> </nuxt-child>

            <div class="closecontainer">

                <div class="but">
                    <boton texto="Cerrar sesión" funcion="cerrar" style="margin-left: 10px !important;"></boton>
                    <boton texto="Perfil" funcion="abrirPerfil" style="margin-left: 10px !important;"> </boton>
                    <boton texto="Panel" funcion="showPanel" v-if="$store.state.admin" style="margin-left: 10px !important;"></boton>
                    <boton texto="Agregar juego" funcion="agregarJuego" v-if="$store.state.admin"></boton>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import boton from '~/components/boton.vue'
    import axios from 'axios'

    export default {
        transition: 'bounce',

        components: {
            boton
        },

        data: function() {
            return {
                juegos: [],
                titulo: '',
                descripcion: '',
                genero: '',
                ultversion: ''
            }
        },

        methods: {
            cargarJuegos: function() {
                var data = JSON.parse('{}')
                var this_global = this
                data["usuario"] = this.$store.state.user

                axios.get(this.$store.state.url + "/obtener/juegos/usuario/" + btoa(JSON.stringify(data)))
                    .then(function(response) {
                        if (response.data.estado) {
                            this_global.juegos = response.data.juegos
                        }
                })
            },
            mostrarInfoJuego: function(id) {
                this.$store.commit('setActiveID', id)
            },
            borrarJuego: function(){
                var this_ = this
                var data = JSON.parse('{}')

                data["user"] = this.$store.state.user
                data["id"] = event.target.id

                axios.post(this.$store.state.url + "/borrar/juego/usuario/" + btoa(JSON.stringify(data)))
                    .then(function(response){
                        if (response.data.estado && response.data.borrado) {
                            this_.cargarJuegos()
                            this_.$router.push('/mainw/news')
                        }
                    }) 
            },
        },
        mounted: function() {
            if (this.$store.state.user == '') {
                this.$router.push('/login')
            } else {
                this.$router.push('/mainw/news')

                this.$store.commit('setVueInstanceMainw', this)

                this.cargarJuegos()
            }
        }
    }
</script>

<style scoped>

.rootcontainer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    width: 50vw;
}

.lista {
    display: flex;
    flex-direction: column;
    width: stretch;
}

.listcontainer {
    width: 25vw;
    height: 100vh;
    border-right-style: double;
    border-right-color: white;
    border-right-width: 10px;
    z-index: 2;
    background-image:url("~/static/images/a.jpg");
}

.jogo {
    color: black;
    width: stretch;
    cursor: pointer;
    
    overflow: hidden;
    
    text-decoration: none;
}

.jogo:hover {
    background: linear-gradient(to right, white, transparent);
}

.delete {
    cursor: pointer;
    
}

.delete:hover {
    color: red;
}

.addcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 3vh;
}

.closecontainer {
    height: 3vh;
    display: flex;
    flex-direction: row-reverse;
}

.but {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: auto;
}


</style>
