<template>
    <div class="root">
        <notifications></notifications>

        <div class="container">
            <div class="minicontainer">
                <span>Nombre</span>
                <input class="input" v-model="nombre">
            </div>

            <div class="minicontainer">
                <span>Apellido</span>
                <input class="input" v-model="apellido">
            </div>

            <div class="minicontainer">
                <span>Correo</span>
                <input class="input" type="email" v-model="email" id="maildiv">
            </div>

            <div class="minicontainer">
                <span>Usuario</span>
                <input class="input" v-model="user" id="userdiv">
            </div>

            <div class="minicontainer">
                <span>Contraseña</span>
                <input class="input" type="password" v-model="pass">
            </div>

            <div class="minicontainer">
                <br />
            </div>

            <div class="minicontainer">
                <div class="buttoncontainer">
                    <div @click="register" id="regbut">
                        <boton texto="Registarme" funcion=""></boton>
                    </div>
                    <boton texto="Cancelar" funcion="back"></boton>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import axios from 'axios'
import boton from '~/components/boton.vue'
import notify from 'vue-notifyjs'
import Vue from 'vue'

Vue.use(notify)

export default {
    transition: 'bounce',

    components: {
        boton
    },

    data: function() {
        return {
            nombre: '',
            apellido: '',
            email: '',
            user: '',
            pass: '',
            emailvalido: false,
            uservalido: false,
            emailRegex: /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i
        }
    },

    head: {
        link: [
            { href: "/css/notify.css", rel: "stylesheet" }
        ]
    },

    methods: {
        register: function() {
            var json_object = JSON.parse('{}')

            if (this.nombre != '' && this.apellido != '' && this.email != '' && this.user != '' && this.pass != '') {
                json_object["nombre"] = this.nombre
                json_object["apellido"] = this.apellido
                json_object["email"] = this.email
                json_object["usuario"] = this.user
                json_object["password"] = this.pass

                var store = this.$store
                var router = this.$router
                var self = this
                
                this.emailvalido = this.emailRegex.test(json_object["email"])
                this.uservalido = (this.user.length < 20) && (this.user.length > 0)
                
                if(this.emailvalido){
                    if(this.uservalido){
                        axios.post(store.state.url + '/registrar/' + btoa(JSON.stringify(json_object)))
                        .then(function(response){
                            self.notifLoading()
                            if (response.data.estado) {
                                if (response.data.agregado){
                                    self.$notifications.clear()
                                    store.commit('setAntPage', 'login')
                                    router.push('/login')
                                    self.notifAdded()
                                } else if (response.data.useruso) {
                                    self.$notifications.clear()
                                    self.notifUserUso()
                                } else if (response.data.emailuso) {
                                    self.$notifications.clear()
                                    self.notifEmailUso()
                                }
                            }
                        })
                    } else {
                        this.notifUserInvalido()
                    }
                } else {
                    this.notifEmailInvalido()
                }
            } else {
                this.notifCV()
            }
        },

        notifAdded() {
            this.$notify({
                message: 'Usuario registrado',
                type: 'success',
            })
        },

        notifCV() {
            this.$notify({
                message: 'ERROR: Campos vacíos',
                type: 'danger'
            })
        },

        notifLoading() {
            this.$notify({
                message: 'Cargando...',
                type: 'primary',
                timeout: 500000
            })
        },

        notifUserUso() {
            this.$notify({
                message: 'ERROR: El usuario ya está tomado',
                type: 'danger'
            })
        },

        notifEmailUso() {
            this.$notify({
                message: 'ERROR: Ya existe un usuario registrado con ese correo',
                type: 'danger'
            })
        },
        notifEmailInvalido() {
            this.$notify({
                message: 'ERROR: El correo ingresado no es válido',
                type: 'danger'
            })
        },
        notifUserInvalido() {
            this.$notify({
                message: 'ERROR: El usuario ingresado no es válido',
                type: 'danger'
            })
        }
    },

    mounted: function(){
        if (this.$store.state.user != '') {
            this.$router.push('mainw')
        }
    }
}
</script>

<style scoped>

.root {
    display: flex;
    flex-direction: row;
    padding: 25px 25px;
}

.container {
    display: flex;
    flex-direction: column;
    align-self: baseline;
    width: 32vw;
    height: 40vh;
}

.error {
    display: flex;
    width: stretch;
    justify-content: center;
    align-items: center;
    background: transparent;

    background-color: #ff8084;
    border: 2px solid #cc0007;
    border-radius: 10px;
    color: #cc0007;
}

.minicontainer {
    display: flex;
    justify-content: space-between;
}


.minicontainer > input {
    background: transparent;
    outline: none;
}

.buttoncontainer {
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

</style>
