<template>
    <div>
        <notifications></notifications>
        <div class="gamesContainer">
            <div class="gamesRow">
        		<div class="th" style="width: calc(100vw * 1.5)">Titulo</div>
        		<div class="th" >Desarrollador</div>
        		<div class="th" >Genero</div>
                <div class="th" >Nombre .exe</div>
        		<div class="th" style="width: calc(100vw * 0.7)">Ult versión</div>
            </div>
            <div class="gamesRow" v-for="juego in dataJuegos">
        		<div class="th" style="width: calc(100vw * 1.5)">{{ juego.titulo}}</div>
        		<div class="th">{{ juego.desarrollador }}</div>
        		<div class="th">{{ juego.genero }}</div>
                <div class="th">{{ juego.exe }}</div>
        		<div class="th" style="width: calc(100vw * 0.7)">{{ juego.ultversion }}</div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import notify from 'vue-notifyjs'
import Vue from 'vue'

Vue.use(notify)

export default {
    transition: 'bounce',

    data: function() {
        return {
            dataJuegos: {}
        }
    },
    head: {
            link: [
				{ href: "/css/notify.css", rel: "stylesheet" }
			]
    },
    methods: {
        notifLoading() {
      			this.$notify({
        			message: 'Cargando...',
        			type: 'primary',
                    timeout: 500000
      			})
    		}
    },
    mounted: function() {
        this.notifLoading()

        if (this.$store.state.user == '') {
            this.$router.push('/login')
        } else {
            var self = this
            var json_data = JSON.parse('{}')
            json_data["usuario"] = this.$store.state.user

            axios.get(this.$store.state.url + '/todos/juegos/' + btoa(JSON.stringify(json_data)))
                .then(function(response) {
                    if (response.data.estado && response.data.esAdmin) {
                        self.dataJuegos = response.data.data_juegos
                        this_.$notifications.clear()
                    }
                })
        }
    }
}
</script>

<style scoped>

    .gamesContainer {
        background-color: darkgrey;
        width: 100vw;
        height: 95vh;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }

    .gamesRow {
        display: flex;
        flex-direction: row;
    }

    .th{
        width: stretch;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

</style>
