<template>
    <div>
        <notifications></notifications>
        <div class="usersContainer">
            <div class="usersRow">
                <div class="th" style="width: 100vw">Nombre</div>
                <div class="th" style="width: 100vw">Apellido</div>
                <div class="th" style="width: calc(100vw * 1.3)">Correo</div>
                <div class="th" style="width: calc(100vw * 1.25)">Usuario</div>
                <div class="th" style="width: calc(100vw * 0.3)">Adm</div>
            </div>
            <div class="usersRow" v-for="user in dataUsers">
                <div class="th" style="width: 100vw">{{ user.nombre }}</div>
                <div class="th" style="width: 100vw">{{ user.apellido }}</div>
                <div class="th" style="width: calc(100vw * 1.3)">{{ user.email }}</div>
                <div class="th" style="width: calc(100vw * 1.25)">{{ user.usuario }}</div>
                <div class="th" style="width: calc(100vw * 0.3)">{{ user.admin }}</div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import notify from 'vue-notifyjs'
import Vue from 'vue'

Vue.use(notify)

export default {
    transition: 'bounce',

    data: function() {
        return {
            dataUsers: {}
        }
    },
    head: {
            link: [
				{ href: "/css/notify.css", rel: "stylesheet" }
            ]
    },
    methods: {
        notifLoading() {
      			this.$notify({
        			message: 'Cargando...',
        			type: 'primary',
                    timeout: 500000
      			})
    		}
    },
    mounted: function() {
        this.notifLoading()

        if (this.$store.state.user == '') {
            this.$router.push('/login')
        } else {
            var self = this
            var json_data = JSON.parse('{}')
            json_data["usuario"] = this.$store.state.user

            axios.get(this.$store.state.url + '/todos/usuarios/' + btoa(JSON.stringify(json_data)))
                .then(function(response) {
                    if (response.data.estado && response.data.esAdmin) {
                        self.dataUsers = response.data.data_users
                        this_.$notifications.clear()
                    }
                    
                })
        }
    }
}
</script>

<style scoped>

    .usersContainer {
        background-color: darkgrey;
        width: 100vw;
        height: 95vh;
        display: flex;
        flex-direction: column;
    }

    .usersRow {
        width: 100vw;
        display: flex;
        flex-direction: row;
    }

    .th{
        width: 20vw;
        border-bottom: 1px solid black;
        border-right: 1px solid black;

        text-align: center;
    }

</style>
